<p id="notice"><%= notice %></p>

<p>
  <strong>Length of stay:</strong>
  <%= @order.length_of_stay %>
</p>

<p>
  <strong>Tip:</strong>
  <%= @order.tip %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @order.total_price %>
</p>

<p>
  <strong>Order status:</strong>
  <%= @order.order_status %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
